.vscode/**
.vscode-test/**
out
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.vsix
*.config.js
*.code-workspace
**/*.log
bin/gdb.7z
bin/sdcc
bin/st7
bin/openocd